
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 1060px;
    display: block;
    margin: 0 auto;
    color: #333;
}
h1, h2, h3{
    font-size: 2.25rem;
    font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    line-height: 1.2;
    margin: 5px 0 15px;
    font-weight: 700;
    font-style: normal;
    color: #262626;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 0.9rem;
}
.register, .login{
    width: 400px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 60px;
}
.register{
    height: 260px;
}
.login{
    height: 190px;
}
.form-group{
    display: block;
    padding: 6px;
}
button, .button {
    background-color: rgb(6, 167, 157);
    border: 0 none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 10px 30px;
    text-align: center;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.button{
    max-width: 70px;
    text-decoration: none;
}
.button-holder {
    display: block;
    float: left;
    width: 160px;
}
.welcome, .not-found{
    width: 390px;
    margin: 0 auto;
}
.home{
    width: 460px;
    margin: 0 auto;
}
.nav {
    border-bottom: 1px solid #ddd;
    display: block;
    float: left;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.nav a{
    color: #333;
    display: block;
    font-size: 18px;
    padding: 10px 30px 10px 0;
    position: relative;
    text-decoration: none;
    float: left;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}